#container {
  height: 10000px;
  width: 1000px;
  border: 3px solid pink;
  position: relative;
  margin: 0 auto;

}
#counter {
  width: 100px;
  height: 40px;
  position: absolute;
  background-color: black;
  color: yellow;
  top: 30px;
  left: 30px;
  z-index: 4;
}
#meme {
  z-index: 6;
  position:absolute;
  top:200px;
  left:150px;

}
