body {
  font-family: 'Gamja Flower', cursive;
  color: black;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Gamja Flower', cursive;
}
h1, .h1 {
  font-size: 4rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 2rem;
}

/*//// NAV STYLES ////*/
  nav.top-bar {
    background: rgb(207, 44, 50);
    color: black;
  }
  nav.top-bar ul {
    background: rgb(207, 44, 50);
    color: black;
  }
  .top-bar,
  .top-bar ul {
    background-color: rgb(207, 44, 50);
  }
  a {
    color: black;
    font-size: 1.3rem;
  }
li.menu-text {
  font-size: 1.5rem;
}
